Repository pavel1tel/biconvex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.css": "stylelint --fix",
  "**/*.{js,tsx,css}": "prettier --write"
}

fix https
  src/swr.ts
Due: eslint --fix

fix copy button
  src/pages/deposit/ui/deposit-address/ui.tsx
Due: prettier --write

deposit fix
  src/pages/deposit/model.ts
  src/pages/deposit/ui/deposit-address/ui.tsx
  src/pages/my-profile/model.ts
  src/shared/api/deposit/request.ts
Due: eslint --fix, prettier --write

fix mobile
  src/pages/deposit/ui/deposit-address/ui.tsx
Due: prettier --write

fix dollar sign
  src/pages/staking/ui/staking-header/ui.tsx
Due: prettier --write

fix fast swap
  src/hooks/useSwrFastSwap.ts
  src/pages/finance/ui/swap-box/ui.tsx
  src/swr.ts
Due: eslint --fix, prettier --write

fix all the bugs
  package-lock.json
  public/assets/settings-icon.png
  src/pages/auth/sign-in/page.tsx
  src/pages/auth/sign-up/page.tsx
  src/pages/finance/ui/swap-box/styles.module.css
  src/pages/finance/ui/swap-box/ui.tsx
  src/pages/staking/page.tsx
  src/pages/staking/ui/staking-calculate/ui.tsx
  src/pages/staking/ui/staking-table/ui.tsx
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.constants.ts
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/ModalOrdersTabMobile.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/TradeDetailsModal.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.constants.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabMobile.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/TPSLInput/TPSLInput.tsx
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/TradeChart/TradeChart.module.css
  src/pages/trading-bots/page.tsx
  src/pages/trading-bots/styles.module.css
  src/pages/trading-bots/ui/active-investments/ui.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.module.css
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

refactor stating tables
  src/pages/staking/page.tsx
  src/pages/trading-bots/ui/active-investments/ui.tsx
  src/pages/trading-bots/ui/staking-table/index.tsx
  src/pages/trading-bots/ui/staking-table/styles.module.css
  src/pages/trading-bots/ui/staking-table/ui.tsx
Due: stylelint --fix, prettier --write

withdraw
  src/pages/withdraw/model.ts
  src/pages/withdraw/page.tsx
  src/pages/withdraw/ui/withdraw-box/ui.tsx
  src/shared/api/types.ts
  src/shared/api/withdraw/requests.ts
  src/shared/ui/sidebar/ui.tsx
Due: eslint --fix, prettier --write

fix amounts
  src/pages/withdraw/ui/withdraw-box/ui.tsx
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

transactions
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/transactions/model.ts
  src/pages/transactions/ui/icons/index.tsx
  src/pages/transactions/ui/table/styles.module.css
  src/pages/transactions/ui/table/ui.tsx
  src/shared/api/transactions/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, stylelint --fix, prettier --write

transfer
  src/pages/transfer/model.ts
  src/pages/transfer/page.tsx
  src/pages/transfer/ui/transfer-box/ui.tsx
  src/pages/withdraw/ui/withdraw-box/ui.tsx
  src/shared/api/transfer/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

settings
  package.json
  src/pages/settings/model.ts
  src/pages/settings/ui/settings-box/components/AccountInfoForm.tsx
  src/pages/settings/ui/settings-box/components/PasswordForm.tsx
  src/pages/settings/ui/settings-box/components/PersonalInfoFrom.tsx
  src/pages/settings/ui/settings-box/components/style.module.css
  src/pages/settings/ui/settings-box/ui.tsx
  src/shared/api/settings/requests.ts
  src/shared/api/types.ts
  src/shared/lib/random-chart-data.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

fixes
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/settings/ui/settings-box/components/AccountInfoForm.tsx
  src/pages/withdraw/ui/withdraw-box/ui.tsx
Due: prettier --write

start trading
  package.json
  src/shared/ui/LightWeightChart/index.tsx
Due: prettier --write

impoved chart
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/components/Select/Select.tsx
  src/pages/trade/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/shared/api/request.ts
  src/shared/api/trading/requests.ts
  src/shared/ui/LightWeightChart/index.tsx
Due: eslint --fix, prettier --write

fix
  src/pages/trade-futures/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade-futures/ui/trade-content/components/Select/Select.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/TradeHistory.tsx
Due: prettier --write

add volume
  src/shared/ui/LightWeightChart/index.tsx
Due: prettier --write

order book
  src/pages/trade/model.ts
  src/shared/api/trading/requests.ts
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
Due: eslint --fix, prettier --write

mobile order book
  src/shared/ui/OrderBook/OrderBook.module.css
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/OrderBook/OrderBookMobile.tsx
  src/shared/ui/icon/NegativeTrendIcon.tsx
  src/shared/ui/icon/PositiveTrendIcon.tsx
Due: stylelint --fix, prettier --write

fix
  src/shared/ui/OrderBook/OrderBookMobile.tsx
Due: prettier --write

trade coins select
  src/pages/crypto-market-cap/ui/top-rate/ui.tsx
  src/pages/deposit/ui/deposits-box/ui.tsx
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/staking/ui/staking-table/ui.tsx
  src/pages/staking/ui/staking-table/utils.ts
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/pages/trading-bots/ui/staking-table/ui.tsx
  src/pages/withdraw/ui/withdraw-box/ui.tsx
  src/shared/api/trading/requests.ts
  src/shared/api/types.ts
  src/shared/config/Coins.config.tsx
  src/shared/session/model.ts
  src/shared/ui/Coins/Coins.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/LightWeightChart/index.tsx
  src/shared/ui/OrderBook/OrderBook.tsx
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/OrderBook/OrderBookMobile.tsx
  src/shared/ui/TradeChartTitle/ui.tsx
Due: eslint --fix, prettier --write

market stat and order book fixes
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.module.css
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/shared/api/trading/requests.ts
  src/shared/api/types.ts
  src/shared/config/Coins.config.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/OrderBook/OrderBookMobile.tsx
Due: eslint --fix, stylelint --fix, prettier --write

market stats websocket price
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
Due: prettier --write

market stats almos done
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/shared/api/trading/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

godnota
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/Select/Select.tsx
  src/shared/api/trading/requests.ts
  src/shared/config/Coins.config.tsx
  src/shared/ui/Coins/Coins.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
Due: eslint --fix, prettier --write

market trades
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/MarketTrades/MarketTrades.tsx
  src/pages/trade/ui/trade-content/components/MarketTrades/tabs/MarketTradesTab/MarketTradesTab.tsx
  src/shared/api/trading/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

start making buy section
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/BuyTab/BuyTab.tsx
  src/shared/api/trading/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

open orders desktop
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/BuyTab/BuyTab.tsx
  src/pages/trade/ui/trade-content/components/Select/Select.tsx
  src/pages/trade/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.constants.ts
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/shared/api/trading/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

draft fixes
  package-lock.json
  src/pages/finance/ui/icons/index.tsx
  src/pages/finance/ui/swap-box/styles.module.css
  src/pages/main/ui/markets/ui.tsx
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/Select/Select.tsx
  src/pages/trade/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/shared/ui/Coins/Coins.module.css
  src/shared/ui/Coins/Coins.tsx
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/icon/FavoriteStarFilledIcon.tsx
  yarn.lock
Due: stylelint --fix, prettier --write

fixes: part2
  src/app/styles/Input.module.css
  src/pages/deposit/page.tsx
  src/pages/my-profile/page.tsx
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/settings/ui/settings-box/components/AccountInfoForm.tsx
  src/pages/settings/ui/settings-box/components/PersonalInfoFrom.tsx
  src/pages/settings/ui/settings-box/components/style.module.css
  src/pages/transfer/page.tsx
  src/pages/transfer/ui/transfer-box/styles.module.css
  src/shared/api/types.ts
  src/shared/ui/footer/styles.module.css
  src/shared/ui/sidebar/ui.tsx
Due: eslint --fix, stylelint --fix, prettier --write

history desctop tab
  src/pages/staking/ui/staking-table/ui.tsx
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/shared/api/trading/requests.ts
Due: eslint --fix, prettier --write

refactoring and sell tab
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/BuyTab/BuyTab.tsx
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/SellTab/SellTab.tsx
  src/pages/trade/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/shared/ui/LightWeightChart/index.tsx
  src/shared/ui/OrderBook/OrderBook.tsx
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/OrderBook/OrderBookMobile.tsx
Due: eslint --fix, prettier --write

fix build
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeChart/TradeChart.tsx
Due: prettier --write

routning for trading
  src/pages/main/ui/banner/ui.tsx
  src/pages/trade/index.ts
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trading-bots/model.ts
  src/shared/routing.ts
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/bannerButton/ui.tsx
  src/shared/ui/footer/ui.tsx
  src/shared/ui/header/ui.tsx
Due: eslint --fix, prettier --write

opa spot pod'ehal
  src/pages/trade/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabMobile.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabMobile.tsx
Due: prettier --write

trading errors
  src/pages/trade/model.ts
Due: eslint --fix

fix
  src/pages/my-profile/page.tsx
Due: prettier --write

fix
  src/pages/my-profile/page.tsx
  src/shared/ui/sidebar/ui.tsx
Due: prettier --write

market screener
  src/pages/crypto-market-cap/page.tsx
  src/pages/market-screener/page.tsx
  src/pages/market-screener/styles.module.css
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/market-screener/ui/coins-table/ui.tsx
  src/shared/api/market-screene/request.ts
Due: eslint --fix, stylelint --fix, prettier --write
