Repository pavel1tel/biconvex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.css": "stylelint --fix",
  "**/*.{js,tsx,css}": "prettier --write"
}

auth merged
  .gitignore
  src/main.tsx
  src/pages/auth/enter-new-password/model.ts
  src/pages/auth/enter-new-password/page.tsx
  src/pages/auth/forgot-password-code/model.ts
  src/pages/auth/forgot-password-code/page.tsx
  src/pages/auth/forgot-password/model.ts
  src/pages/auth/forgot-password/page.tsx
  src/pages/auth/sign-in/model.ts
  src/pages/auth/sign-in/page.tsx
  src/pages/auth/sign-up/model.ts
  src/pages/auth/sign-up/page.tsx
  src/pages/my-profile/model.ts
  src/shared/api/index.ts
  src/shared/api/request.ts
  src/shared/api/types.ts
  src/shared/session/model.ts
  src/shared/ui/header/ui.tsx
Due: eslint --fix, prettier --write

finish market tools pages
  .DS_Store
  .eslintrc.cjs
  .gitignore
  .vscode/settings.json
  src/main.tsx
  src/pages/auth/enter-new-password/model.ts
  src/pages/auth/forgot-password-code/model.ts
  src/pages/auth/sign-in/model.ts
  src/pages/auth/sign-up/model.ts
  src/pages/auth/sign-up/page.tsx
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/styles.module.css
  src/pages/crypto-market-cap/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/crypto-market-cap/ui/coins-table/ui.tsx
  src/pages/market-screener/page.tsx
  src/pages/market-screener/styles.module.css
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/market-screener/ui/coins-table/ui.tsx
  src/pages/my-profile/ui/header-my-profile/ui.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/Analysis/Analysis.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/AnalysisButton/AnalysisButton.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/AnalysisGraph/AnalysisGraph.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/ui.tsx
  src/shared/api/crypto-market-cap/request.ts
  src/shared/api/market-screene/request.ts
  src/shared/api/profile/profile.ts
  src/shared/session/model.ts
  src/shared/ui/show-rows-count/ShowRowsCount.tsx
  src/shared/ui/tableSelectionHeader/ui.tsx
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

Revert "finish market tools pages"
  .DS_Store
  .env
  .gitignore
  src/main.tsx
  src/pages/auth/enter-new-password/model.ts
  src/pages/auth/forgot-password-code/model.ts
  src/pages/auth/sign-in/model.ts
  src/pages/auth/sign-up/model.ts
  src/pages/auth/sign-up/page.tsx
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/styles.module.css
  src/pages/crypto-market-cap/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/crypto-market-cap/ui/coins-table/ui.tsx
  src/pages/market-screener/page.tsx
  src/pages/market-screener/styles.module.css
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/market-screener/ui/coins-table/ui.tsx
  src/pages/my-profile/ui/header-my-profile/ui.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/Analysis/Analysis.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/AnalysisButton/AnalysisButton.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/AnalysisGraph/AnalysisGraph.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/ui.tsx
  src/shared/api/crypto-market-cap/request.ts
  src/shared/api/market-screene/request.ts
  src/shared/api/profile/profile.ts
  src/shared/session/model.ts
  src/shared/ui/show-rows-count/ShowRowsCount.tsx
  src/shared/ui/tableSelectionHeader/ui.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Delete .DS_Store
  .DS_Store
Due: none

fix styling error
  .prettierignore
  src/main.tsx
Due: prettier --write

fix linter
  src/main.tsx
Due: prettier --write

fix Market Screener buttons bug
  .prettierignore
  src/main.tsx
  src/pages/market-screener/page.tsx
Due: prettier --write

fix styling bug
  .gitignore
  src/pages/market-screener/page.tsx
Due: prettier --write

Merge pull request #3 from marjanlukavy/market-tools-tab
  src/app/index.tsx
  src/main.tsx
  src/pages/auth/sign-in/model.ts
  src/pages/auth/sign-up/model.ts
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/market-screener/page.tsx
  src/pages/market-screener/ui/coins-table/ui.tsx
  src/pages/my-profile/ui/header-my-profile/ui.tsx
  src/shared/api/profile/profile.ts
  src/shared/session/model.ts
Due: eslint --fix, prettier --write

fix bugs
  src/pages/market-screener/page.tsx
  src/pages/market-screener/ui/coins-table/ui.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/Analysis/Analysis.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/Select/Select.tsx
  src/shared/ui/tableSelectionHeader/ui.tsx
Due: prettier --write

fetch more coins
  src/pages/market-screener/page.tsx
  src/shared/api/market-screene/request.ts
Due: eslint --fix, prettier --write

fix
  src/shared/api/market-screene/request.ts
  tsconfig.json
Due: eslint --fix

staking
  package.json
  src/pages/auth/sign-in/model.ts
  src/pages/staking/StakeData.tsx
  src/pages/staking/model.ts
  src/pages/staking/page.tsx
  src/pages/staking/ui/staking-calculate/ui.tsx
  src/pages/staking/ui/staking-header/styles.module.css
  src/pages/staking/ui/staking-header/ui.tsx
  src/pages/staking/ui/staking-main/styles.module.css
  src/pages/staking/ui/staking-main/ui.tsx
  src/pages/staking/ui/staking-table/styles.module.css
  src/pages/staking/ui/staking-table/ui.tsx
  src/pages/staking/ui/staking-table/utils.ts
  src/pages/trading-bots/ui/active-investments/ui.tsx
  src/shared/api/staking/request.ts
  src/shared/api/types.ts
Due: eslint --fix, stylelint --fix, prettier --write

change to https
  src/shared/api/request.ts
Due: eslint --fix

fix cookie
  src/pages/auth/sign-in/model.ts
Due: eslint --fix

homepage api
  .gitignore
  package-lock.json
  package.json
  src/hooks/useSwrCoins.ts
  src/pages/main/ui/markets/ui.tsx
  src/pages/main/ui/rates/ui.tsx
  src/swr.ts
  yarn.lock
Due: eslint --fix, prettier --write

main page fixes
  src/pages/main/ui/markets/ui.tsx
  src/pages/main/ui/rates/ui.tsx
  src/shared/ui/rate/rate-chart/ui.tsx
Due: prettier --write

main profile
  src/pages/my-profile/model.ts
  src/pages/my-profile/ui/header-my-profile/ui.tsx
  src/pages/my-profile/ui/promo-code/styles.module.css
  src/pages/my-profile/ui/promo-code/ui.tsx
  src/pages/my-profile/ui/table/styles.module.css
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/my-profile/ui/table/utils.ts
  src/pages/staking/ui/staking-header/ui.tsx
  src/pages/staking/ui/staking-table/ui.tsx
  src/shared/api/profile/profile.ts
  src/shared/api/types.ts
  src/shared/ui/header/ui.tsx
  src/shared/ui/sidebar/ui.tsx
Due: eslint --fix, stylelint --fix, prettier --write

image upload
  src/pages/staking/model.ts
  src/pages/staking/ui/staking-main/ui.tsx
  src/shared/api/profile/profile.ts
  src/shared/ui/icon/DownloadAvatar.tsx
  src/shared/ui/sidebar/ui.tsx
Due: eslint --fix, prettier --write

fast swap api
  src/hooks/useSwrFastSwap.ts
  src/hooks/useSwrHomepage.ts
  src/pages/finance/ui/swap-box/ui.tsx
  src/pages/main/ui/markets/ui.tsx
  src/pages/main/ui/rates/ui.tsx
  src/swr.ts
Due: eslint --fix, prettier --write

fast swap api
  src/pages/finance/ui/swap-box/ui.tsx
  src/pages/main/ui/rates/ui.tsx
Due: prettier --write

fix market tools missing requirements
  .DS_Store
  .gitignore
  src/.DS_Store
  src/pages/.DS_Store
  src/pages/affilate/.DS_Store
  src/pages/affilate/ui/.DS_Store
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/crypto-market-cap/ui/coins-table/ui.tsx
  src/pages/market-screener/page.tsx
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/styles.module.css
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/market-screener/ui/coins-table/styles.module.css
  src/pages/market-screener/ui/coins-table/ui.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/AnalysisGraph/AnalysisGraph.tsx
  src/pages/technical-analysis/ui/technical-analysis-content/components/Select/Select.tsx
  src/shared/.DS_Store
  src/shared/api/market-screene/request.ts
  src/shared/api/request.ts
  src/shared/ui/.DS_Store
  src/shared/ui/tableSelectionHeader/ui.tsx
Due: eslint --fix, stylelint --fix, prettier --write

change http to https
  src/swr.ts
Due: eslint --fix

fix bugs
  package-lock.json
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/ui/top-rate/ui.tsx
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/market-screener/ui/coins-table/ui.tsx
  yarn.lock
Due: prettier --write

fix market cup
  src/pages/market-screener/page.tsx
  src/shared/ui/tableSelectionHeader/ui.tsx
Due: prettier --write

add meta tag
  index.html
Due: none

remove meta tag
  index.html
Due: none

fix main page
  src/swr.ts
Due: eslint --fix

fix crypto market cap
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/crypto-market-cap/ui/coins-table/ui.tsx
  src/pages/crypto-market-cap/ui/top-rate/ui.tsx
Due: prettier --write

fix main page
  src/pages/main/ui/rates/styles.module.css
  src/pages/main/ui/rates/ui.tsx
Due: stylelint --fix, prettier --write

swap fixes
  src/pages/finance/ui/swap-box/ui.tsx
  src/swr.ts
Due: eslint --fix, prettier --write

deposit
  package.json
  src/pages/deposit/model.ts
  src/pages/deposit/page.tsx
  src/pages/deposit/ui/deposit-address/ui.tsx
  src/pages/deposit/ui/deposits-box/ui.tsx
  src/shared/api/deposit/request.ts
  src/shared/api/types.ts
  src/shared/ui/sidebar/ui.tsx
Due: eslint --fix, prettier --write

build fix
  src/pages/transfer/page.tsx
  src/pages/withdraw/page.tsx
Due: prettier --write
