Repository pavel1tel/biconvex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix mobile market screener
  src/pages/market-screener/page.tsx
  src/pages/market-screener/styles.module.css
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/styles.module.css
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/my-profile/ui/table/ui.tsx
Due: stylelint --fix, prettier --write

fix trading
  src/pages/trade/model.ts
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/shared/api/request.ts
  src/shared/ui/LightWeightChart/index.tsx
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/OrderBook/OrderBookMobile.tsx
Due: eslint --fix, prettier --write

fix dates
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/Select/Select.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
Due: prettier --write

fixed height of chart
  src/pages/trading-bots/ui/calculate-profit/ProfitChart/ui.tsx
Due: prettier --write

kyc
  src/pages/kyc/model.ts
  src/pages/kyc/ui/kyc-box/styles.module.css
  src/pages/kyc/ui/kyc-box/ui.tsx
  src/shared/api/kyc/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, stylelint --fix, prettier --write

fix back
  src/shared/api/request.ts
Due: eslint --fix

fix settings
  src/pages/settings/model.ts
  src/pages/settings/ui/settings-box/style.module.css
  src/pages/settings/ui/settings-box/ui.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix failing spot
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
Due: prettier --write

fixed merge issues
  src/pages/technical-analysis/ui/technical-analysis-content/components/Select/Select.module.css
  src/pages/technical-analysis/ui/technical-analysis-content/components/Select/Select.tsx
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/ModalOrdersTabMobile.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/TradeDetailsModal.module.css
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trading-bots/page.tsx
  src/pages/trading-bots/ui/active-investments/Investments.tsx
  src/pages/trading-bots/ui/calculate-profit/ProfitChart/ui.tsx
  src/pages/trading-bots/ui/staking-table/styles.module.css
  src/pages/trading-bots/ui/staking-table/ui.tsx
  src/pages/trading-bots/ui/trading-bots-main/banner/bannerImage/styles.module.css
  src/pages/trading-bots/ui/trading-bots-main/banner/bannerImage/ui.tsx
  src/pages/trading-bots/ui/trading-bots-main/banner/styles.module.css
  src/pages/trading-bots/ui/trading-bots-main/banner/ui.tsx
  src/pages/trading-bots/ui/trading-results/ui.tsx
  src/shared/api/request.ts
Due: eslint --fix, stylelint --fix, prettier --write

fixed merge issues
  pnpm-lock.yaml
  src/pages/trading-bots/ui/staking-table/styles.module.css
  src/shared/ui/Coins/Coins.module.css
  src/shared/ui/Coins/Coins.tsx
Due: stylelint --fix, prettier --write

fixed clipped bug for favourite-star-filled-icon
  src/shared/ui/icon/FavoriteStarFilledIcon.tsx
Due: prettier --write

fixed light's and cube's position size on mobile
  src/pages/trading-bots/styles.module.css
Due: stylelint --fix, prettier --write

fixed text on button
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.tsx
Due: prettier --write

fixed height of block
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.tsx
Due: prettier --write

removed closeButton 'glowing' effect
  src/shared/ui/Coins/Coins.module.css
Due: stylelint --fix, prettier --write

fixed height of scrollable block
  src/shared/ui/sidebar/ui.tsx
Due: prettier --write

removed entry animation for mobile version
  src/pages/trading-bots/ui/trade-type/ui.tsx
Due: prettier --write

fixed button size bug
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.module.css
Due: stylelint --fix, prettier --write

made LoadingScreen
  src/shared/ui/loading/Loading.module.css
  src/shared/ui/loading/styles.module.css
  src/shared/ui/loading/ui.tsx
Due: stylelint --fix, prettier --write

some fixes
  src/pages/about-us/page.tsx
  src/pages/deposit/ui/deposits-box/ui.tsx
  src/pages/main/page.tsx
  src/pages/main/ui/metrics/styles.module.css
  src/pages/main/ui/metrics/ui.tsx
  src/pages/my-profile/ui/promo-code/styles.module.css
  src/pages/settings/ui/settings-box/style.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/TradeDetailsModal.module.css
  src/pages/trade/index.ts
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.module.css
  src/pages/trading-bots/ui/active-investments/Investments.tsx
  src/pages/trading-bots/ui/staking-table/ui.tsx
  src/pages/trading-bots/ui/trading-results/styles.module.css
  src/pages/trading-bots/ui/trading-results/ui.tsx
  src/pages/transfer/styles.module.css
  src/shared/ui/Coins/Coins.module.css
Due: eslint --fix, stylelint --fix, prettier --write

fixed build issues
  src/shared/api/types.ts
Due: eslint --fix

added new content to faq page
  src/pages/faq/ui/faqContent/ui.tsx
Due: prettier --write

made responsive PromoPopup
  public/assets/popup-bg.png
  public/assets/qrcode-promo.png
  src/pages/trade-futures/ui/promo-popup/PromoPopup.module.css
  src/pages/trade-futures/ui/promo-popup/PromoPopup.tsx
  src/pages/trade-futures/ui/promo-popup/index.ts
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabMobile.tsx
  src/shared/ui/icon/cash-promo.svg
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/promo-futures-logo.svg
  src/shared/ui/icon/save.svg
Due: eslint --fix, stylelint --fix, prettier --write

fixed
  src/pages/crypto-market-cap/styles.module.css
  src/pages/deposit/ui/deposit-address/ui.tsx
  src/pages/trade-futures/page.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade/page.tsx
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trading-bots/styles.module.css
  src/pages/withdraw/ui/withdraw-box/ui.tsx
  src/shared/ui/tableSelectionHeader/styles.module.css
Due: stylelint --fix, prettier --write

2fa
  src/pages/auth/components/Footer/TwoFAModal.tsx
  src/pages/auth/components/Footer/style.module.css
  src/pages/auth/sign-in/model.ts
  src/pages/auth/sign-in/page.tsx
  src/pages/my-profile/ui/promo-code/ui.tsx
  src/pages/settings/model.ts
  src/pages/settings/ui/TwoFAModal/TwoFAModal.tsx
  src/shared/api/2fa/requests.ts
  src/shared/api/index.ts
  src/shared/api/request.ts
  src/shared/api/types.ts
Due: eslint --fix, stylelint --fix, prettier --write

change import path for LoadingScreen
  src/pages/main/page.tsx
  src/pages/trade/index.ts
  src/shared/ui/index.ts
  src/shared/ui/loading/index.ts
  src/shared/ui/loading/ui.tsx
Due: eslint --fix, prettier --write

changed import
  src/shared/ui/index.ts
  src/shared/ui/loading/styles.module.css
  src/shared/ui/loading/ui.tsx
Due: eslint --fix, stylelint --fix, prettier --write

changed import
  src/shared/ui/index.ts
Due: eslint --fix

fix style of transfer
  src/pages/transfer/styles.module.css
Due: stylelint --fix, prettier --write

market cap fix
  src/pages/crypto-market-cap/page.tsx
  src/pages/settings/ui/settings-box/ui.tsx
  src/shared/api/crypto-market-cap/request.ts
  src/swr.ts
Due: eslint --fix, prettier --write

final fixes
  src/pages/faq/ui/faqContent/ui.tsx
  src/pages/main/ui/metrics/ui.tsx
  src/pages/trade-futures/ui/promo-popup/PromoPopup.module.css
  src/pages/trade-futures/ui/promo-popup/PromoPopup.tsx
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/ModalOrdersTabMobile.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/TradeDetailsModal.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabMobile.tsx
  src/pages/trade-futures/ui/trade-content/components/tabs/Tabs.module.css
  src/pages/trading-bots/styles.module.css
  src/pages/trading-bots/ui/choose-bot/ui.tsx
  src/pages/trading-bots/ui/trading-bots-main/banner/styles.module.css
  src/pages/trading-bots/ui/trading-bots-main/banner/ui.tsx
  src/pages/transfer/page.tsx
  src/pages/transfer/styles.module.css
  src/shared/ui/sidebar/ui.tsx
Due: stylelint --fix, prettier --write

fixed merge issues
  src/pages/crypto-market-cap/page.tsx
  src/pages/faq/ui/faqContent/ui.tsx
  src/pages/main/ui/metrics/ui.tsx
  src/pages/settings/ui/settings-box/ui.tsx
  src/pages/trade-futures/ui/promo-popup/PromoPopup.module.css
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/ModalOrdersTabMobile.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/ModalOrdersTabMobile/TradeDetailsModal.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabMobile.tsx
  src/pages/trade-futures/ui/trade-content/components/tabs/Tabs.module.css
  src/pages/trading-bots/styles.module.css
  src/pages/trading-bots/ui/choose-bot/ui.tsx
  src/pages/trading-bots/ui/trading-bots-main/banner/styles.module.css
  src/pages/trading-bots/ui/trading-bots-main/banner/ui.tsx
  src/pages/transfer/page.tsx
  src/pages/transfer/styles.module.css
  src/shared/api/crypto-market-cap/request.ts
  src/shared/ui/sidebar/ui.tsx
  src/swr.ts
Due: eslint --fix, stylelint --fix, prettier --write

carousel on mobile version for charts
  src/pages/main/ui/rates/styles.module.css
  src/pages/main/ui/rates/ui.tsx
Due: stylelint --fix, prettier --write

chat
  src/pages/live-chat/model.ts
  src/pages/live-chat/ui/chat/styles.module.css
  src/pages/live-chat/ui/chat/ui.tsx
  src/shared/api/chat/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, stylelint --fix, prettier --write

fixed bugs
  src/app/index.tsx
  src/pages/crypto-market-cap/page.tsx
  src/shared/api/crypto-market-cap/request.ts
  src/swr.ts
Due: eslint --fix, prettier --write

added carousel for rates on main page(mobile version only)
  src/pages/main/ui/rates/styles.module.css
  src/pages/main/ui/rates/ui.tsx
Due: stylelint --fix, prettier --write

removed overflow-x
  src/pages/main/ui/metrics/styles.module.css
Due: stylelint --fix, prettier --write

fixed table sizes
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.constants.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.css
  prettier --write: any of: **/*.{js,tsx,css}
