Repository pavel1tel/biconvex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.css": "stylelint --fix",
  "**/*.{js,tsx,css}": "prettier --write"
}

fixed light
  src/pages/main/ui/metrics/styles.module.css
  src/shared/ui/container/styles.module.css
Due: stylelint --fix, prettier --write

minor fixes
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.module.css
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
Due: stylelint --fix, prettier --write

fix chat
  src/pages/live-chat/ui/chat/styles.module.css
Due: stylelint --fix, prettier --write

favorite coins
  src/shared/config/Coins.config.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/Coins/components/Favorite/Favorite.tsx
Due: prettier --write

lowercase search
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
Due: prettier --write

change back server
  src/pages/trade/ui/trade-content/components/Select/Select.tsx
  src/shared/api/request.ts
  src/swr.ts
Due: eslint --fix, prettier --write

deposit routing
  src/pages/deposit/index.ts
  src/pages/deposit/model.ts
  src/pages/deposit/ui/deposits-box/ui.tsx
  src/pages/finance/model.ts
  src/pages/my-profile/ui/table/ui.tsx
  src/shared/routing.ts
  src/shared/ui/sidebar/ui.tsx
Due: eslint --fix, prettier --write

withdraw routing
  src/pages/deposit/page.tsx
  src/pages/deposit/ui/deposits-box/ui.tsx
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/transfer/page.tsx
  src/pages/withdraw/index.ts
  src/pages/withdraw/model.ts
  src/pages/withdraw/page.tsx
  src/shared/routing.ts
  src/shared/ui/sidebar/ui.tsx
Due: eslint --fix, prettier --write

add gender to settings
  src/pages/settings/ui/settings-box/components/AccountInfoForm.tsx
  src/pages/transactions/ui/table/ui.tsx
  src/shared/api/settings/requests.ts
Due: eslint --fix, prettier --write

change support chat api
  src/shared/api/chat/requests.ts
Due: eslint --fix

fix market cap and market screener
  src/app/index.tsx
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/ui/coins-table/ui.tsx
  src/pages/market-screener/page.tsx
Due: prettier --write

fixed scroll to the block and changed style for button 'BUY' in the table
  src/pages/market-screener/page.tsx
  src/pages/market-screener/styles.module.css
  src/pages/trading-bots/ui/trade-type/SelectCoin/ui.tsx
  src/pages/trading-bots/ui/trading-results/ui.tsx
Due: stylelint --fix, prettier --write

fixed
  src/app/styles/Input.module.css
  src/pages/live-chat/ui/chat/styles.module.css
  src/pages/live-chat/ui/chat/ui.tsx
  src/pages/my-profile/ui/header-my-profile/styles.module.css
  src/pages/my-profile/ui/table/styles.module.css
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/settings/ui/settings-box/components/style.module.css
  src/pages/staking/ui/staking-table/styles.module.css
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/BuyTab/BuyTab.tsx
  src/pages/trading-bots/ui/choose-bot/ui.tsx
  src/pages/transactions/ui/table/styles.module.css
  src/pages/transactions/ui/table/ui.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/Coins/components/Favorite/Favorite.tsx
  src/shared/ui/OrderBook/OrderBook.module.css
  src/shared/ui/TradeActions/ui.tsx
  src/shared/ui/icon/coin/index.ts
  src/shared/ui/icon/coin/usdt.svg
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/no-msg.svg
Due: eslint --fix, stylelint --fix, prettier --write

fixed usdt icon + added placeholder for input
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.module.css
  src/pages/trade-futures/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/SellTab/SellTab.tsx
Due: stylelint --fix, prettier --write

added scrollbar for live chat and minor fixes
  package-lock.json
  package.json
  src/app/styles/index.css
  src/pages/live-chat/ui/chat/styles.module.css
  src/pages/live-chat/ui/chat/ui.tsx
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/trade/ui/trade-content/TradeContent.tsx
  src/pages/trade/ui/trade-content/components/Payment/Payment.tsx
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/BuyTab/BuyTab.tsx
  src/pages/trade/ui/trade-content/components/Payment/components/tabs/SellTab/SellTab.tsx
  src/shared/ui/TradeActions/ui.tsx
  src/shared/ui/tabs/Tabs.types.ts
  src/shared/ui/tabs/ui.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fixed coins
  src/pages/my-profile/ui/table/ui.tsx
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/no-records.svg
Due: eslint --fix, prettier --write

final fixes
  src/pages/affilate/ui/affiliate-box/styles.module.css
  src/pages/affilate/ui/affiliate-box/ui.tsx
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/staking/ui/staking-table/styles.module.css
  src/pages/staking/ui/staking-table/ui.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.module.css
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTab.module.css
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trading-bots/ui/active-investments/Investments.tsx
  src/pages/trading-bots/ui/active-investments/StakingTableVerticalHeadings/styles.module.css
  src/pages/trading-bots/ui/active-investments/StakingTableVerticalHeadings/ui.tsx
  src/pages/trading-bots/ui/staking-table/styles.module.css
  src/pages/trading-bots/ui/staking-table/ui.tsx
  src/pages/transactions/ui/table/styles.module.css
  src/pages/transactions/ui/table/ui.tsx
Due: stylelint --fix, prettier --write

p2p intial
  src/pages/p2p/model.ts
  src/pages/p2p/styles.module.css
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.tsx
  src/shared/api/p2p/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, stylelint --fix, prettier --write

fixed chat height and kyc input bg-color
  src/pages/kyc/ui/kyc-box/styles.module.css
  src/pages/live-chat/ui/chat/styles.module.css
Due: stylelint --fix, prettier --write

fixed tables
  src/pages/affilate/ui/affiliate-box/styles.module.css
  src/pages/affilate/ui/affiliate-box/ui.tsx
  src/pages/my-profile/ui/table/styles.module.css
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/staking/ui/staking-table/styles.module.css
  src/pages/staking/ui/staking-table/ui.tsx
  src/pages/trade-futures/ui/trade-content/TradeContent.tsx
  src/pages/trade-futures/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/MarketStats/MarketStats.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trading-bots/ui/staking-table/ui.tsx
  src/pages/transactions/ui/table/ui.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/Coins/components/Favorite/Favorite.tsx
  src/shared/ui/OrderBook/OrderBook.module.css
  src/shared/ui/icon/FavoriteStarFilledIcon.tsx
Due: stylelint --fix, prettier --write

fixed table 'My Coins'
  src/pages/my-profile/ui/table/ui.tsx
Due: prettier --write

p2p completed
  src/pages/p2p/ui/p2pContent/components/BuyFilters/BuyFilters.tsx
  src/pages/p2p/ui/p2pContent/components/Filters/Filters.tsx
  src/pages/p2p/ui/p2pContent/components/SellFIlters/SellFIlters.tsx
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.tsx
Due: prettier --write

fix search
  src/pages/p2p/ui/p2pContent/components/BuyFilters/BuyFilters.tsx
  src/pages/p2p/ui/p2pContent/components/SellFIlters/SellFIlters.tsx
Due: prettier --write

p2p fixes
  src/pages/p2p/ui/p2pContent/components/Filters/Filters.tsx
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.tsx
  src/shared/ui/tabs/Tabs.types.ts
  src/shared/ui/tabs/ui.tsx
Due: eslint --fix, prettier --write

limited rows to 5
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabDesktop.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabDesktop.tsx
Due: prettier --write

fixed transaction table bugs
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/transactions/ui/table/ui.tsx
Due: prettier --write

ref initial
  src/pages/affilate/model.ts
  src/pages/affilate/ui/affiliate-box/ui.tsx
  src/shared/api/ref/requests.ts
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

new logo
  src/shared/ui/header/ui.tsx
Due: prettier --write

fixes
  .DS_Store
  index.html
  src/app/styles/index.css
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.tsx
  src/shared/ui/header/styles.module.css
  src/shared/ui/header/ui.tsx
  src/shared/ui/icon/logo.svg
  yarn.lock
Due: stylelint --fix, prettier --write

aff complete
  src/pages/affilate/ui/affiliate-box/ui.tsx
  src/pages/main/page.tsx
  src/pages/my-profile/ui/header-my-profile/ui.tsx
  src/shared/api/index.ts
Due: eslint --fix, prettier --write

loading for block, text fixed and new coins for select
  .DS_Store
  public/assets/support-avatar.png
  public/assets/support-avatar.webp
  src/pages/live-chat/ui/chat/ui.tsx
  src/pages/p2p/ui/p2pContent/components/BuyFilters/BuyFilters.tsx
  src/pages/p2p/ui/p2pContent/components/SellFIlters/SellFIlters.tsx
  src/pages/staking/ui/staking-table/ui.tsx
  src/shared/ui/OrderBook/OrderBook.module.css
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/loading/styles.module.css
  src/shared/ui/loading/ui.tsx
Due: stylelint --fix, prettier --write

added new modal 'Error'
  src/app/styles/Button.module.css
  src/pages/live-chat/ui/chat/ui.tsx
  src/pages/main/page.tsx
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/error-modal/index.ts
  src/shared/ui/error-modal/styles.module.css
  src/shared/ui/error-modal/ui.tsx
  src/shared/ui/icon/error-sign.svg
  src/shared/ui/icon/index.ts
  src/shared/ui/loading/styles.module.css
Due: eslint --fix, stylelint --fix, prettier --write

fix f
  src/pages/my-profile/ui/table/ui.tsx
Due: prettier --write

fix chart horizontal scale
  src/shared/ui/LightWeightChart/index.tsx
Due: prettier --write

loading for tables and charts and other minor improvements
  package.json
  src/pages/affilate/ui/affiliate-box/ui.tsx
  src/pages/deposit/ui/deposits-box/styles.module.css
  src/pages/deposit/ui/deposits-box/ui.tsx
  src/pages/live-chat/ui/chat/styles.module.css
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.module.css
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.tsx
  src/pages/settings/ui/settings-box/components/AccountInfoForm.tsx
  src/pages/settings/ui/settings-box/ui.tsx
  src/pages/trade-futures/ui/promo-popup/PromoPopup.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeChart/TradeChart.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/pages/transactions/ui/table/ui.tsx
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/LightWeightChart/TradeChart.module.css
  src/shared/ui/LightWeightChart/index.tsx
  src/shared/ui/OrderBook/OrderBook.tsx
  src/shared/ui/OrderBook/OrderBookDesktop.tsx
  src/shared/ui/loading/styles.module.css
  src/shared/ui/loading/ui.tsx
  yarn.lock
Due: stylelint --fix, prettier --write

fixed modal window and minor changes
  public/assets/popup-bg.png
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.tsx
  src/pages/trade-futures/ui/promo-popup/PromoPopup.module.css
  src/pages/trade-futures/ui/promo-popup/PromoPopup.tsx
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/light-logo.svg
Due: eslint --fix, stylelint --fix, prettier --write

added some loaders for blocks and fixed Favourite icon bug
  src/pages/crypto-market-cap/page.tsx
  src/pages/crypto-market-cap/ui/coins-table/ui.tsx
  src/pages/deposit/ui/deposits-box/ui.tsx
  src/pages/my-profile/page.tsx
  src/pages/my-profile/ui/table/ui.tsx
  src/pages/trading-bots/styles.module.css
  src/pages/trading-bots/ui/choose-bot/BotInfo/styles.module.css
  src/pages/trading-bots/ui/choose-bot/styles.module.css
  src/shared/ui/Coins/components/CoinsTable/CoinsTable.tsx
  src/shared/ui/Coins/components/Favorite/Favorite.tsx
  src/shared/ui/loading/ui.tsx
Due: stylelint --fix, prettier --write

final fixes
  src/pages/live-chat/ui/chat/ui.tsx
  src/pages/market-screener/page.tsx
  src/pages/market-screener/styles.module.css
  src/pages/market-screener/ui/coins-table/CoinsTableFixedColumn/ui.tsx
  src/pages/market-screener/ui/coins-table/ui.tsx
  src/pages/p2p/ui/p2pContent/components/Trade/Trade.module.css
  src/pages/staking/ui/staking-table/styles.module.css
  src/pages/staking/ui/staking-table/ui.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTab.module.css
  src/pages/trade-futures/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabMobile.tsx
  src/pages/trade/ui/trade-content/components/TradeChart/TradeChart.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/TradeHistory.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/HistoryTab/HistoryTabMobile.tsx
  src/pages/trade/ui/trade-content/components/TradeHistory/tabs/OrdersTab/OrdersTabMobile.tsx
  src/pages/trading-bots/ui/staking-table/ui.tsx
Due: stylelint --fix, prettier --write
